<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <!-- 模拟器信息 simulators-->
    <virtualMachine>
        <testers>
            <tester>
                <name></name>
                <baseDir></baseDir>
                <configName></configName>
                <executeProgram></executeProgram>
            </tester>
        </testers>
        <demos>
            <SECS name="">
                <DRVINFO>
                    <DEVICEID>0</DEVICEID>
                    <IDENTITY>Host</IDENTITY>
                </DRVINFO>
                <LOGINFO>
                    <DIR></DIR>
                    <SECSIMODE>D</SECSIMODE>
                    <SECSIIMODE>D</SECSIIMODE>
                    <XMLMODE />
                    <DRIVERMODE>D</DRIVERMODE>
                    <DRIVERLEVEL>5</DRIVERLEVEL>
                    <BACKUP>1</BACKUP>
                </LOGINFO>
                <SECSMODE MODE="HSMS">
                    <HSMS>
                        <HSMSMODE>Active</HSMSMODE>
                        <REMOTEIP>10.160.119.135</REMOTEIP>
                        <REMOTEPORT>5000</REMOTEPORT>
                        <LOCALPORT>5000</LOCALPORT>
                    </HSMS>
                    <SECS1>
                        <MASTER>True</MASTER>
                        <COMPORT>COM1</COMPORT>
                        <AUTOBAUD>True</AUTOBAUD>
                        <BAUDRATE>9600</BAUDRATE>
                        <INTERLEAVE>False</INTERLEAVE>
                        <RETRYCOUNT>3</RETRYCOUNT>
                    </SECS1>
                </SECSMODE>
                <TIMEOUT>
                    <T1>0.5</T1>
                    <T2>10</T2>
                    <T3>45</T3>
                    <T4>45</T4>
                    <T5>10</T5>
                    <T6>5</T6>
                    <T7>10</T7>
                    <T8>10</T8>
                </TIMEOUT>
                <EXT>
                    <LINKTEST>120</LINKTEST>
                </EXT>
            </SECS>
        </demos>
    </virtualMachine>
    <!-- 程序默认地址信息-->
    <setting>
        <baseDir></baseDir>
        <!-- 日志基本路径-->
        <logBaseDir></logBaseDir>
        <!-- 记录信息基本路径-->
        <recodeDir></recodeDir>
    </setting>
</configuration>